# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data (large files not tracked)
*.mat
*.nii
*.nii.gz
*.hdf
*.h5

# Logs
*.log
